$primary-dark: #222;
$primary-semi-dark: #000C66;
$primary-semi-light: #0000FF;
$primary-light: #fff;
$secondary-dark: #17393B;
$secondary-semi-dark: #265F61;
$secondary-semi-light: #3F9DA1;
$secondary-light: #f4fbfc;
$intermediate-dark-light: #215254;