// Containers
.sp-container-full { width: 100%; max-width: 100%; padding: 0px; }
.sp-container {
    width: 95% !important;
    margin: auto !important;
    @media (min-width: 768px) {
        width: 85% !important;
        max-width: 1440px !important;
    }
    @media (min-width: 1024px) {
        width: 80% !important;
        max-width: 1440px !important;
    }
}

.sp-main-container {
	margin-top: 70px;
	background-color: #fff
}